Repository KittyCAD/modeling-app, pull requests merged in 2024-10, with the labels that each got.

#4013 Nadro/adhoc/e2e improvements
  README.md
  e2e/playwright/basic-sketch.spec.ts
  e2e/playwright/point-click.spec.ts
  e2e/playwright/regression-tests.spec.ts
  e2e/playwright/snapshot-tests.spec.ts
  e2e/playwright/testing-selections.spec.ts
  e2e/playwright/testing-settings.spec.ts
  e2e/playwright/text-to-cad-tests.spec.ts
  package.json
  src/lang/std/artifactGraph.test.ts
  yarn.lock
Labels: e2e

#4058 Refactor Fillet Logic to Combine Multiple Tags Within the Same Fillet Expression
  e2e/playwright/command-bar-tests.spec.ts
  src/lang/modifyAst/addFillet.test.ts
  src/lang/modifyAst/addFillet.ts
  src/lib/commandBarConfigs/modelingCommandConfig.ts
Labels: refactor, ast, desktop-app, tests

#4103 Add support for opposite and adjacent edges for fillets
  e2e/playwright/snapshot-tests.spec.ts
  e2e/playwright/snapshot-tests.spec.ts-snapshots/Client-side-scene-scale-should-match-engine-scale-Inch-scale-1-Google-Chrome-linux.png
  e2e/playwright/snapshot-tests.spec.ts-snapshots/Client-side-scene-scale-should-match-engine-scale-Inch-scale-1-Google-Chrome-win32.png
  e2e/playwright/snapshot-tests.spec.ts-snapshots/Client-side-scene-scale-should-match-engine-scale-Inch-scale-2-Google-Chrome-linux.png
  e2e/playwright/snapshot-tests.spec.ts-snapshots/Client-side-scene-scale-should-match-engine-scale-Inch-scale-2-Google-Chrome-win32.png
  e2e/playwright/snapshot-tests.spec.ts-snapshots/extrude-on-default-planes-should-be-stable--XZ-1-Google-Chrome-win32.png
  e2e/playwright/snapshot-tests.spec.ts-snapshots/extrude-on-default-planes-should-be-stable--YZ-1-Google-Chrome-linux.png
  src/lang/modifyAst/addFillet.test.ts
  src/lang/modifyAst/addFillet.ts
Labels: ast, desktop-app

#4344 Snap to origin and axis behavior for profile starts and segments
  e2e/playwright/basic-sketch.spec.ts
  e2e/playwright/fixtures/editorFixture.ts
  e2e/playwright/fixtures/fixtureSetup.ts
  e2e/playwright/fixtures/sceneFixture.ts
  e2e/playwright/fixtures/toolbarFixture.ts
  e2e/playwright/point-click.spec.ts
  e2e/playwright/sketch-tests.spec.ts
  e2e/playwright/test-network-and-connection-issues.spec.ts
  e2e/playwright/test-utils.ts
  e2e/playwright/testing-selections.spec.ts
  src/clientSideScene/sceneEntities.ts
  src/clientSideScene/sceneInfra.ts
  src/clientSideScene/segments.ts
  src/lang/std/sketchcombos.ts
Labels: ux-papercut, sketch
