Repository KittyCAD/modeling-app, pull requests merged in 2025-05, with the labels that each got.

#6767 Extend point-and-click edit flow to non-pipe Chamfer and Fillet
  e2e/playwright/point-click.spec.ts
  src/lang/modifyAst/addEdgeTreatment.test.ts
  src/lang/modifyAst/addEdgeTreatment.ts
  src/lib/operations.ts
  src/machines/modelingMachine.ts
Labels: enhancement

#6279 Restore the native file menu tests
  e2e/playwright/fixtures/cmdBarFixture.ts
  e2e/playwright/fixtures/homePageFixture.ts
  e2e/playwright/fixtures/sceneFixture.ts
  e2e/playwright/native-file-menu.spec.ts
  e2e/playwright/test-utils.ts
  src/App.tsx
  src/components/AppHeader.tsx
  src/components/CommandBar/CommandBar.tsx
  src/components/FileMachineProvider.tsx
  src/routes/Home.tsx
  src/routes/Settings.tsx
Labels: e2e, tests

#7035 Replace map with forEach in CLI arg tests
  src/commandLineArgs.test.ts
Labels: codex

#7034 Fix cleanup in network status hook
  src/hooks/useNetworkStatus.tsx
Labels: codex

#7206 Add clock
  public/kcl-samples/README.md
  public/kcl-samples/clock/main.kcl
  public/kcl-samples/manifest.json
  public/kcl-samples/screenshots/clock.png
  rust/kcl-lib/tests/kcl_samples/axial-fan/artifact_graph_flowchart.snap.md
  rust/kcl-lib/tests/kcl_samples/bottle/artifact_graph_flowchart.snap.md
  rust/kcl-lib/tests/kcl_samples/clock/artifact_commands.snap
  rust/kcl-lib/tests/kcl_samples/clock/artifact_graph_flowchart.snap
  rust/kcl-lib/tests/kcl_samples/clock/artifact_graph_flowchart.snap.md
  rust/kcl-lib/tests/kcl_samples/clock/ast.snap
  rust/kcl-lib/tests/kcl_samples/clock/ops.snap
  rust/kcl-lib/tests/kcl_samples/clock/program_memory.snap
  rust/kcl-lib/tests/kcl_samples/clock/rendered_model.png
  rust/kcl-lib/tests/kcl_samples/cold-plate/artifact_graph_flowchart.snap.md
  rust/kcl-lib/tests/kcl_samples/helium-tank/artifact_graph_flowchart.snap.md
  rust/kcl-lib/tests/kcl_samples/i-beam/artifact_graph_flowchart.snap.md
  rust/kcl-lib/tests/kcl_samples/shepherds-hook-bolt/artifact_graph_flowchart.snap.md
  rust/kcl-lib/tests/kcl_samples/t-slot-rail/artifact_graph_flowchart.snap.md
Labels: kcl-sample

#7275 Use the same OS images for web and desktop e2e
  .github/workflows/e2e-tests.yml
Labels: e2e

#7260 Update Bone Plate
  public/kcl-samples/bone-plate/main.kcl
  public/kcl-samples/screenshots/ball-joint-rod-end.png
  rust/kcl-lib/tests/kcl_samples/ball-joint-rod-end/rendered_model.png
  rust/kcl-lib/tests/kcl_samples/bone-plate/artifact_commands.snap
  rust/kcl-lib/tests/kcl_samples/bone-plate/artifact_graph_flowchart.snap.md
  rust/kcl-lib/tests/kcl_samples/bone-plate/ast.snap
  rust/kcl-lib/tests/kcl_samples/bone-plate/ops.snap
  rust/kcl-lib/tests/kcl_samples/bone-plate/program_memory.snap
  rust/kcl-lib/tests/kcl_samples/bottle/artifact_graph_flowchart.snap.md
  rust/kcl-lib/tests/kcl_samples/cold-plate/artifact_graph_flowchart.snap.md
  rust/kcl-lib/tests/kcl_samples/helium-tank/artifact_graph_flowchart.snap.md
  rust/kcl-lib/tests/kcl_samples/i-beam/artifact_graph_flowchart.snap.md
  rust/kcl-lib/tests/kcl_samples/shepherds-hook-bolt/artifact_graph_flowchart.snap.md
  rust/kcl-lib/tests/kcl_samples/t-slot-rail/artifact_graph_flowchart.snap.md
Labels: kcl-sample
