Repository KittyCAD/modeling-app, pull requests merged in 2025-08, with the labels that each got.

#7960 E2E tests: remove some, remove pixel checks and pixel-based clicks from some
  e2e/playwright/boolean.spec.ts
  e2e/playwright/editor-tests.spec.ts
  e2e/playwright/file-tree.spec.ts
  e2e/playwright/fixtures/editorFixture.ts
  e2e/playwright/fixtures/sceneFixture.ts
  e2e/playwright/point-click-assemblies.spec.ts
  e2e/playwright/point-click.spec.ts
  e2e/playwright/projects.spec.ts
  e2e/playwright/sketch-tests.spec.ts
  e2e/playwright/snapshot-tests.spec.ts
  e2e/playwright/snapshot-tests.spec.ts-snapshots/Client-side-scene-scale-should-match-engine-scale-Inch-scale-1-Google-Chrome-linux.png
  e2e/playwright/snapshot-tests.spec.ts-snapshots/Client-side-scene-scale-should-match-engine-scale-Inch-scale-2-Google-Chrome-linux.png
  e2e/playwright/snapshot-tests.spec.ts-snapshots/Client-side-scene-scale-should-match-engine-scale-Millimeter-scale-1-Google-Chrome-linux.png
  e2e/playwright/snapshot-tests.spec.ts-snapshots/Client-side-scene-scale-should-match-engine-scale-Millimeter-scale-2-Google-Chrome-linux.png
  e2e/playwright/snapshot-tests.spec.ts-snapshots/Draft-segments-should-look-right-3-Google-Chrome-linux.png
  e2e/playwright/snapshot-tests.spec.ts-snapshots/Draft-segments-should-look-right-4-Google-Chrome-linux.png
  e2e/playwright/snapshot-tests.spec.ts-snapshots/Draft-segments-should-look-right-5-Google-Chrome-linux.png
  e2e/playwright/test-utils.ts
  e2e/playwright/testing-constraints.spec.ts
  e2e/playwright/testing-selections.spec.ts
  e2e/playwright/testing-settings.spec.ts
Labels: area/tests/e2e

#8058 Fix conflict between local (debug) and production app settings
  src/lib/desktop.ts
Labels: bug, meta/developer-experience, desktop-app

#8059 Preserve the original folder for settings in the staging app
  src/lib/desktop.ts
Labels: meta/developer-experience, desktop-app

#8179 Remove the keyboard shortcut for refreshing the app
  e2e/playwright/snapshot-tests.spec.ts-snapshots/Draft-circle-should-look-right-1-Google-Chrome-linux.png
  src/components/ContextMenu.tsx
  src/components/ModelingSidebar/ModelingSidebar.tsx
  src/components/ViewControlMenu.tsx
  src/lib/commandBarConfigs/authCommandConfig.ts
  src/main.ts
Labels: desktop-app
